:root{
    --main-color: #3b5d50;
    --secondary-color: #f9bf29;
    --text-color: #ffffff88;
}


/* Start navbar section */
.navbar{
    background-color: var(--main-color);
}

.navbar-brand{
    color: white;
    font-size: 30px;
}
.nav-link {
    color: var(--text-color);
    font-size: 20px;
    position: relative;
}

.nav-link::before{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 80%;
    transition: width 0.5s;

}

.nav-item:hover .nav-link::before{
    width: 80%;
}
/* End navbar section   */

/* Start header section */
.header{
    background-color: var(--main-color);
    /* color: white; */
}

h1{
    font-size: 48px;
    font-weight: bolder;
}
.couch{
    position: relative;
}

.couch::before{
    content: " ";
    width: 200px;
    height: 200px;
    background-image: url(../images/dots-light.svg);
    position: absolute;
    right: -75px;
}

.couch img{
    position: absolute;
    top: -90px;
}

@media screen and (max-width:1450px) {
    .couch img{
        position: static;
        top: 0px;
        width: 600px;
    }
}

@media screen and (max-width:700px) {
    .header{
        text-align: center;
    }
    .couch img{
        position: static;
        top: 0px;
        width: 400px;
    }
    .couch::before{
        display: none;
    }
}

.b1{
    position:relative;
    background-color: #ffc107;
    color: black;
    transition: 1s;

}

.b1:hover{
    background-color: rgb(237, 225, 202);
    color: black;
    
    
}.b2{
    position:relative;
    background-color: transparent;
    color: white;
    transition: 1s;
}

.b2:hover{
    background-color:#8cbdaa;
    color: black;
    
    
}

/* End header section */


/* Start Crafted section */

@media screen and (max-width:800px) {
    .crafted-text{
        text-align: center;
    }
}
.product-item{
    position: relative;

}

.product-item::before{
    content: " ";
    position: absolute;
    background-color: #7fa194;
    width: 100%;
    height: 0%;
    bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: -1;
    transition: 2s;
}

.product-animation:hover .product-item::before{
    height: 60%;
} 

.b3{
    position:relative;
    background-color: black;
    color: white;
    transition: 1s;
}

.b3:hover{
    background-color: #8cbdaa;
    color: black;
    
    
}
/* End cragted section */

/* start Chose Us */
.chose-us{
    background-color: #f8f7f5eb;
}
i{
    position: relative;
}

i::after{
    content:" ";
    
    width: 20px;
    height: 20px;
    background-color: rgb(181, 174, 188);
    position: absolute;
    right: -2px;
    z-index: -1;
    border-radius: 100%;
}
/* End Chose Us */